<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Curriculum</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
</head>
<body>

   <div class='principal'>
       <div class='div-1'>

         <div class='perfil'>
            <img class='imgPerfil cls' src="/Imagen/perfill.jpg">
            <h2 class='div1texto cls'>krisbel Alexandra Medina Sánchez</h2>
            <p class='div1texto cls'>FreeLance</p>
        </div> 

        <div class='datos-personales'>

            <div class='icon-datos-personales'>

              <h2 class='div1texto'>Datos Personales</h2>  
              <div style='width:100%' class='linea'> <hr></div>
              <img src="/icon/archivo.png" class="icon-img">

           </div>

          <ul class='ul-datos-personales'>
             <li>Cedula : 29628487</li>
             <li>Ciudad : Maracay</li>
             <li>Dirección: Avenida Los Aviadores</li>
             <li>Casa : #07</li>
             <li>postal :2301</li>
         </ul>
     </div> 

     <div class='datos-contacto'>
       <div class='icon-datos-personales'>
        <h2 class='div1texto'>Datos Contacto</h2> 
        <div style='width:100%' class='linea'> <hr></div>
        <img src="/icon/contacto.png" class="icon-img">


    </div>
    <ul class='ul-datos-personales'>
     <li>Correo: krisbelmedina67@gmail.com</li>
     <li>Telefono:0412-416-7041</li>
   

     
      <div class="redes-sociales">
        <li>Facebook:</li>
        <div style="width:100%">
            <hr>
        </div>
        <a href="https://www.facebook.com/krisbel.medina.9?mibextid=ZbWKwL" title="Click para ir" target="_blank"><img src="./icon/facebook.png" class="IMG-social"></a>    
      </div>
     
      <div class="redes-sociales">
        <li>Instagram:</li>
        <div style="width:100%">
            <hr>
        </div>
        <a href="https://www.instagram.com/kamp.22.02?igsh=ZXRuOG43eGo5ZzRx" title="Click para ir" target="_blank"><img src="./icon/social.png" class="IMG-social"></a>    
      </div>
     
 </ul>
</div>

</div>
<!----------------Div 02.---------------->
<div class='div-2'>

   <div class='experienciaLaboral'>
    <div class='icon-datos-personales'>
       <h2>Experiencia Laboral</h2>
       <div style='width:50%' class='linea'><hr style='background:black;'><hr style='background:black'></div> 
       <img src="/icon/trabajador.png">
   </div>

   <ul class='ul-datos-personales'>
    <li>Desarrollador(a) Front-end en una empresa de belleza (Programación)</li>
    <li>Desarrollador(a) de aplicaciones móviles para belleza (Programación):</li>
    <li>Estilista de maquillaje y cabello en un estudio de fotografía (Belleza):</li>
    <li>Especialista en marketing digital para una marca de productos de belleza (Programación y Belleza):</li>
</ul>
</div>

<div class='formacionA'>
  <div class='icon-datos-personales'>
   <h2>Formacion Academica</h2>
   <div style='width:50%' class='linea'><hr style='background:black;'><hr style='background:black'></div> 
   <img src="/icon/graduado.png">
</div>
<ul class='ul-datos-personales'>
   <li>Primaria: U.E.N. Jose Felix Ribas</li>
   <li>Secundaria: U.E.N. Roscio</li>
   <li>Educacion Superior: Actualmente estudiando Informatica</li>
   <li id='insertar'></li>
</ul>
</div>



<div class='habilidadesD'>

  <div class='icon-datos-personales margen-bottom'>
   <h2>Habilidades y Destrezas</h2>
   <div style='width:50%' class='linea'><hr style='background:black;'><hr style='background:black'></div> 
   <img src="/icon/habilidades.png">
</div>

<div class='divProgreso'>
   <ul class="ol">
    <div>
        <li>HTML:</li>
        <li><progress value="60" max="100" class="progresss"></progress><span>60%</span></li>  
    </div>

    <div>
     <li>CSS : </li>
     <li><progress value="50" max="100"></progress><span> 50%</span></li>   
 </div>

 <div>
    <li>javascripts : </li>
    <li><progress value="30" max="100"></progress><span class="greenn"> 30%</span></li> 
</div>

<div>
    <li>Marqueting:</li>
    <li><progress value="80" max="100"></progress><span class="greenn"> 80%</span></li>  
</div>

<div>
 <li>Diseño: </li>
 <li><progress value="70" max="100"></progress><span class="greenn"> 70%</span></li>   
</div>

<div>
  <li>Ingles: </li>
  <li><progress value="50" max="100"></progress><span class="greenn"> 50%</span></li>  
</div>

<div>
 <li>Responsabilidad:</li>
 <li><progress value="100" max="100"></progress><span class="greenn"> 100%</span></li>   
</div>

<div>
    <li>Puntualidad:</li>
    <li><progress value="100" max="100"></progress><span class="greenn"> 100%</span></li>
</div>


</ul>

</div>

</div>

</div><!--END DIV2--->

</div><!--principal-->

<script type="text/javascript">

let insertar = document.getElementById('insertar');
window.addEventListener('resize', function() {
 let anchoViewport = window.innerWidth;
let altoViewport = window.innerHeight;
insertar.innerHTML=`ancho : ${anchoViewport} alto : ${altoViewport}`


});
</script>
</body>
</html>
